<div class="container-all">
    <div class="content" ng-repeat="item in list">
        <div class="item f16"><span class="flag {{item.flag}}"></span>{{item.name}}</div>
        <div class="item">Capital: {{item.capital}}</div>
        <div class="item">Currency: {{item.currency}}</div>
        <div class="item">Phone Code: {{item.phone}}</div>
    </div>
 
    <div class="item"><a href="#" onclick="history.back();">Back to map</a></div>
</div>