<div ng-if="isLogged">
    
    <div class="container">
        
        <div class="header">
            <div class="userInfo">{{userInfo}}</div>
            <div class="search">
                <div><input type="text" ng-model="country" ng-keyup="val=country" placeholder="Search country"/></div>
                <div class="searchlist">
                    <div ng-repeat="country in countries | filter:val" ng-click="fromSearch(this)" data-country="{{country.code}}">{{country.name}}</div>
                </div>
            </div>
            <div class="logout" ng-click="logout()">Çıkış</div>
        </div>
        <div class="map-content" style="">
            <ul id="contextmenu-node" ng-show="isVisible">
                <li ng-click="makeExport()">İhracat Yap</li>
                <li ng-click="makeImport()">İthalat Yap</li>
                <li>Not Ekle</li>
                <li>Bilgileri Sil</li>
            </ul>
            <div id="mapz" ng-right-click="mapRight()"></div>
        </div>
        <div class="footer">
            <div class="continents">
                <div class="continent" ng-repeat="continent in continents"><a href="#!/continent/{{continent.code}}">{{continent.name}}</a></div>
            </div>
            <div class="results">
                <div>Imports {{importCount}} / {{allCount}}</div>
                <div>Exports {{exportCount}} / {{allCount}}</div>
            </div>
        </div>
        
    </div>
    
    
</div>