body {
  margin: 0 auto;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.container {
  width: 100%;
}
.header {
  height: 50px;
  float: left;
  width: 100%;
  background-color: #2a2e4c;
  color: #fff;
}
.header .userInfo {
  float: left;
  width: 20%;
  padding: 15px 10px;
}
.header .search {
  float: left;
  width: 60%;
  padding-top: 10px;
}
.header .search input {
  width: 250px;
  height: 25px;
}
.header .search .searchlist {
  background-color: rgba(84,84,84,0.74);
  height: 130px;
  overflow-y: scroll;
  width: 250px;
}
.header .search .searchlist div {
  padding: 15px;
  cursor: pointer;
}
.header .logout {
  float: left;
  width: 10%;
  padding-top: 15px;
  cursor: pointer;
}
loginContainer {
  width: 100%;
  height: 500px;
}
.button {
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 100px;
  cursor: pointer;
}
.map-content {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.map-content #contextmenu-node {
  position: absolute;
  background-color: #fde;
  padding: 20px;
}
.map-content #contextmenu-node li {
  padding: 5px;
  cursor: pointer;
}
#mapz {
  margin-top: 121px;
}
.continents {
  width: 100%;
  height: 100px;
}
.continents .continent {
  width: 100%;
  float: left;
}
.container-all .content {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.container-all .item {
  padding: 10px 15px;
}
